[Unit]
Description=Sausage store front-end job
After=syslog.target
After=network.target

[Service]
SuccessExitStatus=143
User=front-user
Type=simple
WorkingDirectory= /var/www-data
ExecStart=/bin/http-server ./dist/frontend/ -p 80 --proxy http://localhost:8080
ExecStop=/bin/kill -9 $MAINPID
StandardOutput=append:/logs/out-front.log
StandardError=append:/logs/error-front.log
Restart=always
RestartSec=5s
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target